#body {
    font-family: 'PT Sans', sans-serif;
}
#menu-principal {
    background-color: white;
    
}
#menu-principal ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    
}
#menu-principal ul li {
    display: inline-block;
    
}
#menu-principal ul li img {
    width: 80px;
    padding-left: 0px;
    background-color: white;
}

#menu-principal ul li a{
    text-decoration: none;
    color: black;
    display: block;   
    padding: 10px 40px;
    

}
#menu-principal ul li a:hover {
    background-color: yellowgreen;
}
#body-of-notice {
    text-align: justify;
    color: black;
    font-family: 'PT Sans', sans-serif;

}
#lista-secundaria ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
#lista-secundaria ul li {
    background-color:#cc0000;
    padding: 15px 50px 0px;
    color: white;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#lista-final {
    background-color:#910b0b;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#lista-final ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
#lista-final ul li {
    display: inline-block;
    padding: 5px;
    margin: 0px;
    border-inline: 0px;
    
}
#lista-final ul li a{
    
    list-style: none;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: initial;
    
}
#titulo  {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    
}
#seccion {
    font-family: 'PT Sans', sans-serif;
   
}
#link {
    color: black;
    align: left
  
    
}
#link:hover {
    color: blue;
}
#imagen3 {
    padding: 0px;
    margin: 0px;
}
#footer ul li {
    
    
}
#footer ul li a{

}
#lifooter {
    text-decoration: none;
    color: black;
    display: block;   
   
}